.video-element {
  width: auto;
  max-width: 90vw;
  max-height: 70vh;
  border-radius: 12px;
  margin-top: 5vh;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.explorations-img-container {
  display: flex;
  flex-direction: row;
}

.bs1,
.bs2 {
  position: relative;
  min-width: 150px;
  width: 20vw;
}

.bs1 {
  left: 10px;
  transform: translate(1vw, -1vh) rotate(-4deg)
}

.bs2 {
  left: 10px;
  transform: translate(1vw, 1vh) rotate(3deg)
}

.explorations-text-container-right,
.explorations-text-container-left {
  color: black;
  width: 40vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.explorations-text-container-left {
  margin-left: 5vw;
}

.explorations-text-container-right {
  margin-right: 5vw;
}

.explorations-text-container-right h1,
.explorations-text-container-left h1 {
  margin-bottom: 1vh;
  font-size: 2.4vh;
  font-weight: 600;
}

.explorations-text-container-right p, 
.explorations-text-container-left p {
  font-size: 2vh;
  line-height: 4vh;
}

.explorations-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explorations-photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.photo-cell {
  max-height: 12vh;
  max-width: 12vw;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}

.grid-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flow-line-1,
.flow-line-2 {
  content: "";
  position: absolute;
  width: 1px;
  height: 15vh;
  background-color: black; /* light grey */
  opacity: 0.3;
}

.flow-line-1 {
  left: 0px; /* align to start of text */
  bottom: 0px;
  transform: translateX(50vw);
}

.flow-line-2 {
  left: 0px; /* align to start of text */
  top: 0px;
  transform: translateX(50vw);
}

@media (max-width: 768px) {
  .explorations-section-container {
    flex-direction: column;
  }

  .explorations-section-container.reverse-on-mobile {
    flex-direction: column-reverse;
  }

  .video-element {
    max-height: 45vh;
  }

  .explorations-text-container-left, .explorations-text-container-right {
    width: 80vw;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3vh;
  }

  .photo-cell {
    max-height: 15vh;
    max-width: 18vw;
  }

  .explorations-photo-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .explorations-photo-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .flow-line-1,
  .flow-line-2 {
    display: none;
  }
}