.timeline {
  margin-top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 0.2vh;
  height: 100%;
  background-color: #a2a3a6;
  bottom: 0;
  left: clamp(40px, 8vw, 60px);
}

.timeline-item {
  background-color: #FAFAFA;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.timeline-item h2 {
  color: black;
  font-weight: 600;
  font-size: clamp(12px, 2.4vw, 20px);
  margin-bottom: -0.5vh;
}

.timeline-item h3 {
  color: #818181;
  font-weight: 600;
  font-size: clamp(9px, 1.8vw, 15px);
  margin-bottom: 0.5vh;
  text-shadow: 0 0 10 white;
}

.timeline-item p {
  color: #444444;
  font-weight: 400;
  font-size: clamp(8px, 1.6vw, 14px);
}

.timeline-item img {
  width: 16vw;
  height: 16vw;
  min-width: 80px;
  min-height: 80px;
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2vh;
  z-index: 3;
}