.timeline {
  margin-top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 0.2vh;
  height: 100%;
  background-color: #a2a3a6;
  bottom: 0;
  left: 7.5vh;
}

.timeline-item {
  background-color: #FAFAFA;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.timeline-item h2 {
  color: black;
  font-weight: 600;
  font-size: 2.2vh;
  margin-bottom: -0.5vh;
}

.timeline-item h3 {
  color: #818181;
  font-weight: 600;
  font-size: 1.4vh;
  margin-bottom: 0.5vh;
  text-shadow: 0 0 10 white;
}

.timeline-item p {
  color: #444444;
  font-weight: 400;
  font-size: 1.4vh;
}

.timeline-item img {
  width: 15vh;
  height: 15vh;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2vh;
  z-index: 3;
}

@media (max-width: 480px) {
  .timeline {
    margin-top: 4vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6vh;
  }
  
  /* Vertical Line */
  .timeline::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0.2vh;
    height: 90%;
    background-color: #a2a3a6;
    left: 4vh;
  }
  
  .timeline-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 0
  }
  
  .timeline-item h2 {
    color: black;
    font-weight: 600;
    font-size: 1.6vh;
  }
  
  .timeline-item h3 {
    color: #818181;
    font-weight: 600;
    font-size: 1.1vh;
    /* margin-bottom: 0.3vh; */
    text-shadow: 0 0 10 white;
  }
  
  .timeline-item p {
    color: #444444;
    font-weight: 400;
    font-size: 1.1vh;
  }
  
  .timeline-item img {
    width: 8vh;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1.5vh;
    z-index: 3;
  }
}