@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

.scroll-view {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  scroll-snap-align: start;
  z-index: 2;
}

.section-wrapper {
  position: relative;
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #FAFAFA;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.pattern-bg {
  border-radius: 10px;
  background: 
    radial-gradient(circle, #e5e5e5 1px, transparent 2px), 
    repeating-linear-gradient(white 0px, white 20px, transparent 21px, transparent 40px),
    repeating-linear-gradient(90deg, white 0px, white 20px, transparent 21px, transparent 40px);
  background-size: 16px 16px;
  background-color: white;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 10px 3px rgb(0, 0, 0, 0.1), 0px 0px 10px 3px rgb(0, 0, 0, 0.2);
  z-index: 5;
}

.site-footer {
  text-align: start;
  position: fixed;
  width: 100%;
  bottom: 5px;
  left: 0px;
  z-index: 50;
  background-color: transparent;
  color: #555;
  font-size: 0.75rem;
  pointer-events: none;
  text-align: center;
}

@media (max-width: 480px) {
  .section-wrapper {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
