.base-screen {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-image: url("/images/IMG_3726.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.polaroid-pfp {
  pointer-events: none;
  position: fixed;
  top: 54vh; /* Centers it in the viewport */
  left: 75vw;
  transform: translate(-50%, -50%) rotate(3deg); /* Centers it properly */
  width: 16vw; /* Set a visible size */
  height: auto;
  object-fit: contain;
  display: block;
  box-shadow: 0 0 10 2 #444444;
  z-index: 3; /* Ensure it's above other elements */
}

.header-statement {
  pointer-events: none;
  position: fixed;
  top: 45vh;
  left: 39vw;
  transform: translateX(-50%);
  color: white;
  font-size: 7vw;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 20 black;
  z-index: 3;
  white-space: nowrap;
}

.white-line {
  width: 100%;
  height: 3px;
  background-color: white;
  margin-bottom: 12;
  text-shadow: 0 0 20 black;
}

.header-statement p {
  text-align: left;
  font-size: 2.4vw;
  z-index: 100;
  text-shadow: 0 0 20 black;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Make the image cover the viewport */
  z-index: 2; /* Ensure the image is above the text */
}

.dynamic-wrapper {
  width: 100vw;
  height: 100vh;
}

.arrow-container {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
  width: 10vh;
  display: flex; /* Ensures no extra space */
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Ensures it doesn't interact with other elements */
}

@media (max-width: 480px) {
  .header-statement {
    top: 64vh;
    left: 50vw;
    font-size: 11vw;
  }

  .header-statement p {
    text-align: center;
    font-size: 4vw;
  }

  .polaroid-pfp {
    transform: translate(-50%, -50%) rotate(1deg); /* Centers it properly */
    top: 45vh;
    left: 51vw;
    width: 45vw;
  }
}