.folder-scroll-view {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: fit-content;
  width: 100vw;
  overscroll-behavior-x: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

.h-scroll-prompt {
  left: 50%;
  bottom: 5%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.15em;
  animation: scrollBounce 10s ease-in-out infinite;
  gap: 5px;
  z-index: 100;
}

.h-scroll-text {
  color: black;
  font-weight: 600;
}

.h-scroll-line {
  width: 30px;
  height: 2px;
  background: black;
}

.section-wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scroll-indicator-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.folder-scroll-view {
  position: relative;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
}

.custom-scroll-bar {
  height: 6px;
  margin-left: 3vh;
  width: calc(70vh * 0.75);
  background-color: #eee;
  border-radius: 3px;
  overflow: hidden;
}

.custom-scroll-thumb {
  height: 100%;
  background-color: gray; /* match folder theme or accent */
  border-radius: 3px;
  transition: width 0.2s ease-out;
}

.pagination-dots {
  margin-top: 5px;
  margin-left: 3vh;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dot {
  width: calc(45vh / var(--entry-count)); /* Adjust the width based on the number of dots */
  height: 6px;
  background-color: #d3d3d3;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #444;
}

.resume-download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  font-family: sans-serif;
}

.resume-btn {
  background-color: white;
  color: black;
  padding: 8px 12px;
  border-radius: 6px;
  border-color: black;
  border-width: 1px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  transition: background-color 0.3s ease, transform 0.15s ease-in-out;
}

.resume-btn:hover {
  transform: scale(1.03);
}

.resume-date {
  margin-top: 3px;
  font-size: 12px;
  color: #555;
}

@media (max-aspect-ratio: 0.8268) {
  .custom-scroll-bar {
    margin-left: 3vw;
    width: calc(100vw * 0.75);
  }

  .dot {
    width: calc(64vw / var(--entry-count)); /* Adjust the width based on the number of dots */
  }
}